.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.label {
  display: block;
  margin-bottom: 4px;
}
.input {
  width: 100%;
  box-shadow: var(--shadow);
  background-color: var(--semi-transparent);
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: calc((100% - 2 * 8px) / 3);
  }
}
