.contact {
  border: 1px solid var(--dark-grey);
  height: 120px;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: calc((100% - 2 * 8px) / 3);
  box-shadow: var(--shadow);
  background-color: var(--semi-transparent);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.name {
}
.phone {
}
.btn {
}
.logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  fill: inherit;
  stroke: inherit;
  font-size: inherit;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
