.contact {
  border: 1px solid var(--dark-grey);
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: space-between;
  /* flex-basis: calc((100% - 3 * 48px) / 4); */
  box-shadow: var(--shadow);
}
/* .wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */
.name {
}
.phone {
}
.btn {
}
.logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  fill: inherit;
  stroke: inherit;
  font-size: inherit;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
