.main {
  width: 100%;
  height: 100%;
}

.locked {
  background-image: url('./img/locked.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.unlocked {
  background-image: url('./img/unlocked.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
